body { background-color: #C0D9D9; font-family: Georgia; font-size: 32px; }
img { border: 0; }
h1 {font-size: 1.25em; text-align: center; margin: 0; padding: 0 0 .25em 0; }
h2 { font-size: 1.0em; }
h3 { font-size: 0.75em; }
input { font-family: Georgia; font-size: 1.5em; }
#content { width: 700px; background-color: #BBB; padding: .5em 2em; margin: 1em auto;
		border: 2px solid #888; border-radius: 25px; -moz-border-radius: 25px;
		-moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888; }
#content { font-size: 0.5em; }
#content input { font-size: 0.75em; }
#content .error-msg { color: red; background-color: yellow; padding: 10px; border: 1px solid #999; }
#content .success-msg { color: black; background-color: #83F52C; padding: 10px; border: 1px solid #999; }

#profile-table { margin-left: auto; margin-right: auto; width: 100%; }
